<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1 th:text="${message}"/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Release</th>
        <th scope="col">Prise</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.dataRelease}"></td>
        <td th:text="${car.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>